h1{
    text-align: center;
    margin-top: 20px;
}

h2{
    text-align: center;
    margin-top: 20px;
}


.btn {
  writing-mode: horizontal-tb;
  width: 70px; /* 追加 */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40; /* Bootstrapのダークテーマ */
    color: white;
}