<% layout('layouts/boilerplate') %>
<body>
    <h1>タスクの編集</h1>
    <form class="container mt-5" action="/todo/id?_method=PUT" method="POST">
        <div class="mb-3">
            <label for="taskName" class="form-label">タスク名</label>
            <input type="text" class="form-control" id="taskName" name="name" value="<%= todo.name %>" required>
        </div>
        <div class="mb-3">
            <label for="taskDescription" class="form-label">作業の概要</label>
            <textarea class="form-control" id="taskDescription" name="description" rows="3"><%= todo.description %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">更新</button>
    </form>
</body>